{# src src/Configuration/GralBundle/Resource/views/Welcome/index.html.twig #}
{% extends 'ConfigurationGralBundle::layout.html.twig' %} 
{% block title 'Portada' %}

{% block body %}
    <br/> <center><h1>Bienvenido</h1></center>
{% endblock  body %}