{% import "ConfigurationGralBundle::macros_form.html.twig" as forms %}
                {# Primera columna #}
		<div class="grid_10 alpha" >
                    {{ forms.input(form.nombre, { 'attr': {'placeholder': '  Nombre de Dirección','size':'45px'} }) }}
		</div>
		<div class="clear"></div>  